    {% extends "layout.html" %}
   
    {% block content %}
    <h2>{{  title }}</h2>

    <div class="container">
        <form name="login" action="" method="POST">
            {{  form.hidden_tag()   }}
            <p>
                {{  form.email.label    }}<br>
                {{  form.email(size=35  )}}<br>
            </p>
            <p>
                {{  form.password.label }}<br>
                {{  form.password(size=15)  }}<br>
            </p>
            <p>
                {{  form.remember_me.label }}<br>
                {{  form.remember_me()  }}<br>
            </p>
            <p>
                {{form.submit()}}<br>
            </p>
        </form>
    </div>
    {% endblock %}