
    {% extends "layout.html" %}
   
    {% block content %}
  

    <div class="container">
        <form name="register" action="" method="POST">
            <fieldset class="form-group">
                <legend>{{ title }}</legend>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=35 )}}<br>
            </p>

            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=35 )}}<br>
            </p>
            <p>
                {{ form.password_confirm.label }}<br>
                {{ form.password_confirm(size=35 )}}<br>
            </p>
            <p>
                {{ form.first_name.label }}<br>
                {{ form.first_name(size=35 )}}<br>
            </p>
            <p>
                {{ form.last_name.label }}<br>
                {{ form.last_name(size=35 )}}<br>
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
    {% endblock %}